.navbar-brand {
    width: 110px;
    background-color: #0BADA6;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0px 0px -8px 10px;
    /* top, right, bottom, left */
}


/* Found that this was what I needed to edit by inspecting the site itself and location the code that changed 
the color of the text in the navbar brand */
.navbar-light .navbar-brand {
    color: white;
}

/* change the color when you hover over the navbar brand to white so that there is no change in the color */
.navbar-light .navbar-brand:hover{
    color: white;
}

.navbar .dropdown:hover {
    background-color: lightgray;
}

/* add box background */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 
}
body {
    background-color: lightgray;
}

.title {
    color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.row {
    flex-wrap: -15px -15px;
}

.option:hover {
    margin: black;
}

@media(max-width: 1000px){
.navbar-expand-sm {
background-color: #0BADA6 !important;
}

/* don't add anything under here that you don't want affected by @media */
